<%- include("../partials/html-head") %>

<%- include("../partials/nav") %>
<div class=pepper-background>
<body>
    <div class="container">
      <h1 id="spicy-contributers" class="spicy-font">Hot or Not - Spicy Contributers</h2>
      <% profiles.forEach(function(profile) { %>
        <div class="card mb-3 bg-dark text-white">
          <div class="row g-0">
            <div class="col-md-2">
              <% if (profile.avatar) { %>
                <img 
                  src="<%= profile.avatar %>" 
                  alt="<%= profile.name %> profile"
                  class="profile-pic"
                />
              <% } else { %>
                <img 
                  src="/images/profile.png" 
                  alt="placeholder avatar"
                  class="profile-pic"
                >
              <% } %> 
            </div>
            <div class="col-md-10">
              <div class="profile-pic">
                <h3 class="card-title"><%= profile.name %></h3>
                <ul>
                  <li class="card-text"><h5>Prefers <%= profile.preference %> sauces & peppers!</h5></li>
                </ul>
                <% if (profile._id.equals(user?.profile._id)) { %>
                  <div class="card-footer">
                    <form
                      action="/profiles/preference"
                      method="POST"
                      class="input-group"
                    >
                    <label for="preference">Your Preferred Spice Level:
                      <select name="preference">
                        <option value="Mild">Mild</option>
                        <option value="Medium">Medium</option>
                        <option value="Hot">Hot</option>
                        <option value="Spicy">Spicy</option>
                        <option value="Spice Spice">Spice Spice</option>
                        <option value="Extreme">Extreme Spice Spice</option>
                        <option value="☠️">☠️</option>
                      </select>
                      <button type="submit">
                        Add Preference
                      </button>
                    </form>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>


    <%- include("../partials/footer") %>
  </div>