<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "spice lovers!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
    <h2>Welcome to Hot or Not!<br>a database of hot sauces</h2>
    <div id="welcome-message"> 
      <h3>You are welcome to explore our listing of hot sauces by clicking on the chili pepper menu option, read the reviews and find a new sauce to try. If you log in with Google you can add reviews to existing entries yourself and add your own spicy finds to the list yourself."</h3>
    </div>
</main>

<%- include('./partials/footer') %>
