<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section>
  <h1>Sauce added by <%= hotsauce.owner.name %></h1>
  <br>
  <% if (hotsauce.owner.equals(user?.profile._id)) { %>
    <form action="/hotsauces/<%= hotsauce._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this sauce</button>
    </form>
  <% } %> 
</section>

<%- include('../partials/footer') %>