<%- include("../partials/html-head") %>

<%- include("../partials/nav") %>

<div id=pepper-background>
<main>
  <h1><%= title %></h1>
  <p>Please check the dropdown for the pepper before adding:
    <select>
      <% peppers.forEach(function(pepper) { %>
        <option><%= pepper.pepper %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-pepper-form" action="/peppers" method="POST" placeholder="Pepper Name">
    <label for="pepper-name" placeholder="Pepper Name"></label>
    <input type="text" name="pepper" id="pepper-input" required>
    <button type="submit">Add Pepper</button>
  </form>
</div>
</main>

<%- include('../partials/footer') %> 

</div>