<%- include("../../partials/html-head") %>

<%- include("../../partials/nav") %>

<div class="sauces-background-image">
<section>
  <h1 class="spicy-font">Edit the Review!</h1>
      <% if (user) { %>
        <form action="/hotsauces/<%= hotsauce._id %>/reviews/<%= review._id %>" method="POST">
          <label>
            Your Name: 
            <input type="text" name="reviewersName" autocomplete="off" value="<%= review.reviewersName %>">
          </label><br>
          <label for="rating">Overall rating
            <select name=rating value="<%= review.rating %>">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
          </label><br>
          <label for="spiciness">Spice Spice Scale:
            <select name=spiciness value="<%= review.spiciness %>">
              <option value="Mild">Mild</option>
              <option value="Medium">Medium</option>
              <option value="Hot">Hot</option>
              <option value="Spicy">Spicy</option>
              <option value="Spice Spice">Spice Spice</option>
              <option value="Extreme">Extreme Spice Spice</option>
              <option value="☠️">☠️</option>
            </select>
          <label><br>
            Purchase Info:
            <input type="text" name="purchaseInfo" autocomplete="off" value="<%= review.purchaseInfo %>">
          </label><br>
          <label>
            Review:
            <input type="text" name="review" autocomplete="off" value="<%= review.review %>">
          </label><br>
        </form>
      <% } %>
    <button type="submit" class="all-buttons">Save</button>
  </form>
</section>

<%- include("../../partials/footer") %>
</div>